﻿@model Shopping.Kart.UI.ViewModels.Order.ProductDetailVM

<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides">
            <div class="numbertext">1 / 4</div>
            <img src="~/Uploads/Images/Product/img_nature_wide.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 4</div>
            <img src="~/Uploads/Images/Product/img_snow_wide.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 4</div>
            <img src="~/Uploads/Images/Product/img_mountains_wide.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 4</div>
            <img src="~/Uploads/Images/Product/img_lights_wide.jpg" style="width:100%">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="column">
            <img class="demo cursor" src="~/Uploads/Images/Product/img_nature_wide.jpg" style="width:100%" onclick="currentSlide(1)"
                 alt="Nature and sunrise">
        </div>
        <div class="column">
            <img class="demo cursor" src="~/Uploads/Images/Product/img_snow_wide.jpg" style="width:100%" onclick="currentSlide(2)"
                 alt="Snow">
        </div>
        <div class="column">
            <img class="demo cursor" src="~/Uploads/Images/Product/img_mountains_wide.jpg" style="width:100%" onclick="currentSlide(3)"
                 alt="Mountains and fjords">
        </div>
        <div class="column">
            <img class="demo cursor" src="~/Uploads/Images/Product/img_lights_wide.jpg" style="width:100%" onclick="currentSlide(4)"
                 alt="Northern Lights">
        </div>

        <div class="caption-container"></div>

        <div class="prod-info">
            <div class="row">
                <div class="col-sm-6"> Product Name : @Model.ProductName </div>
                <div class="col-sm-6"> Brand : @Model.BrandName </div>
            </div>
            <div class="row">
                <div class="col-sm-6"> Price : @Model.ProductPrice </div>
                <div class="col-sm-6"> Category : @Model.ProductCategories </div>
            </div>
        </div>
    </div>
</div>