﻿@model Shopping.Kart.UI.ViewModels.Order.CartProductVM
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section Title{
    Check Out
}
@section CSSSection{
}
@section ScriptSection{
    <script src="~/Scripts/Order/CheckOut.js"></script>
}
@section ContentSection{
    <div class="row widget-row">
        <div class="col-md-12">
            <h3 class="">Thank you for shopping with us.</h3>
            <h4 class="">Date : @DateTime.Now.ToString("dd MMMM, yyyy")</h4>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <h3 class="">Order Details : </h3>
        </div>
        <div class="col-md-11">
            <table id="tblCartProduct" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center col-md-1">#</th>
                        <th class="text-center col-md-4">Product Name - Product Code</th>
                        <th class="text-center col-md-2">Product Price</th>
                        <th class="text-center col-md-3">Quantity</th>
                        <th class="text-center col-md-2">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartProducts)
                    {
                        <tr data-id="@item.CartId" data-price="@item.CartPrice">
                            <td class="text-center"><input type="checkbox" id="@("chk"+item.CartId)" value="1" checked /></td>
                            <td class="text-center">@item.ProductName - @item.ProductCode</td>
                            <td class="text-right">@item.CartPrice.ToString("N2")</td>
                            <td class="text-right"><input type="text" class="Quantity form-control pull-right" style="width:150px;" name="Quantity" value="1" maxlength="2" onkeypress = "return event.charCode >= 48 && event.charCode <= 57" pattern = "^[1-9]\\d*$"/></td>
                            <td class="text-right totalAmount">@item.CartPrice.ToString("0.00")</td>
                        </tr>
                    }
                    <tr>
                        <th colspan="4" class="text-right">Sub Total</th>
                        <th class="text-right">20</th>
                    </tr>
                    <tr>
                        <th colspan="4" class="text-right">CGST (9% Tax)</th>
                        <th class="text-right">1.8</th>
                    </tr>
                    <tr>
                        <th colspan="4" class="text-right">SGST (9% Tax)</th>
                        <th class="text-right">1.8</th>
                    </tr>
                    <tr>
                        <th colspan="4" class="text-right">Grand Total</th>
                        <th class="text-right">23.6</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 text-center">
            <input type="button" id="btnPlaceOrder" class="btn btn-success btn-lg" value="Place Order" />
        </div>
    </div>
}
