﻿@model Shopping.Kart.UI.ViewModels.Order.OrderIndexVM
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section Title{
    Order Product
}
@section CSSSection{
    <link href="~/Content/Product/ViewProductImage.css" rel="stylesheet" />
}
@section ScriptSection{
    <script src="~/Scripts/Order/IndexOrder.js"></script>
    <script src="~/Scripts/Product/ViewProductImages.js"></script>
}
@section ContentSection{
    <div class="row widget-row">
        <div class="col-md-12">
            <h3 class="">Order Product</h3>
            <div class="row">
                @foreach (var product in Model.ProductDetails)
                {
                    <div data-id="@product.ProductID" data-price="@product.ProductPrice" class="column col-md-3 product-cart">
                        <img src="~/Uploads/Images/Product/img_nature.jpg" style="width:100%" class="Show-Details hover-shadow cursor">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Product Name : @product.ProductName</h4>
                            </div>
                            <div class="col-sm-12">
                                <h4>Price : @product.ProductPrice</h4>
                            </div>
                            <div class="col-sm-12">
                                <button id="btnAddToCart" class="btn btn-success btn-lg">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div id="DetailsModal"></div>
        </div>
    </div>
}
