﻿@model Shopping.Kart.UI.ViewModels.BaseVM

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Kart | @RenderSection("Title")</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/Custom/Common.css" rel="stylesheet" />
    @RenderSection("CSSSection", false)
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Product/Index">Shopping Kart</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a class="navbar-link" href="/Product/Index">Product</a></li>
                <li><a class="navbar-link" href="/Product/Add">Add Product</a></li>
                <li><a class="navbar-link" href="/Order/Index">Order</a></li>
            </ul>
            <a class="btn btn-danger navbar-btn pull-right" href="/Order/CheckOut">Check Out</a>
        </div>
    </nav>

    <div class="container body-content">
        <div id="MainDivSection">
            @RenderSection("ContentSection")
        </div>
        <hr />
        <footer>
            <p>Copyright &copy; 2019. All Rights Reserved.</p>
        </footer>
    </div>
    <!-- Alert Box -->
    <div class="modal fade" id="alert-box">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 id="AlertHeader" class="modal-title f18 px15">Alert</h4>
                    <button type="button" class="close pt5 f21" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="" method="post">
                        <div class="col-xl-12 col-lg-12 list-template">
                            <p class="text f14 text-center" id="AlertTextId"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmation Box -->
    <div class="modal fade policy-view" id="confirmation-box">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close pt5 f21" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title f18 px15 pt15 pb9">Confirmation</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body" style="min-height: 65px;">
                    <div class="col-xl-12 col-lg-12 list-template pt15 pr5 pb5">
                        <div class="col-xl-12 col-lg-12 pad-l">
                            <p class="text f14 text-center" id="ConfirmationText"></p>
                            <div class="submit-panel pb12 text-center">
                                <button id="btnYes" data-dismiss="modal" class="btn btn-primary br20 px25 py5 f14 ml5">Yes</button>
                                <button id="btnNo" data-dismiss="modal" class="btn btn-primary br20 px25 py5 f14 ml5">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/Custom/Common.js"></script>
    @RenderSection("ScriptSection", false)
</body>
</html>
