﻿<div class="col-md-12">
    <div id="myModal" class="modal">
        <button class="close cursor" onclick="closeModal()">&times;</button>
        <div class="modal-content">

            <div class="mySlides">
                <div class="numbertext">1 / 4</div>
                <img src="~/Uploads/Images/Product/img_nature_wide.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 4</div>
                <img src="~/Uploads/Images/Product/img_snow_wide.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 4</div>
                <img src="~/Uploads/Images/Product/img_mountains_wide.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 4</div>
                <img src="~/Uploads/Images/Product/img_lights_wide.jpg" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div class="column">
                <img class="demo cursor" src="~/Uploads/Images/Product/img_nature_wide.jpg" style="width:100%" onclick="currentSlide(1)"
                     alt="Nature and sunrise">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Uploads/Images/Product/img_snow_wide.jpg" style="width:100%" onclick="currentSlide(2)"
                     alt="Snow">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Uploads/Images/Product/img_mountains_wide.jpg" style="width:100%" onclick="currentSlide(3)"
                     alt="Mountains and fjords">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Uploads/Images/Product/img_lights_wide.jpg" style="width:100%" onclick="currentSlide(4)"
                     alt="Northern Lights">
            </div>

            <div class="caption-container"></div>
        </div>
    </div>
</div>
