﻿@model Shopping.Kart.UI.ViewModels.Product.ProductAddVM
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section Title{
    Add Product
}
@section CSSSection{
    <style>
        td.btnSection {
            width: 95px;
        }
    </style>
}
@section ScriptSection{
    <script src="~/Scripts/Product/AddProduct.js"></script>
}
@section ContentSection{
    <div class="row widget-row">
        <div class="col-md-12">
            <h3 class="">Add Product</h3>
            <form action="/Product/Save" id="FrmAdd" method="post" class="form-horizontal" enctype="multipart/form-data">
                <div id="container">
                    <div class="col-md-12">
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.ProductName, "Product Name", new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.ProductName, new { id = "txtProductName", @class = "form-control", maxlength = "50" })
                                @Html.ValidationMessageFor(x => x.ProductName, "", new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.ProductCode, "Product Code", new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.ProductCode, new { id = "txtProductCode", @class = "form-control", maxlength = "50" })
                                @Html.ValidationMessageFor(x => x.ProductCode, "", new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.SelectedBrandId, "Brand", new { @class = "control-label" })
                                @Html.DropDownListFor(x => x.SelectedBrandId, Model.Brands, "-- Select Brand --", new { id = "ddlBrands", @class = "form-control drop-down" })
                                @Html.ValidationMessageFor(x => x.SelectedBrandId, "", new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.SelectedCategories, "Category", new { @class = "control-label" })
                                @Html.DropDownListFor(x => x.SelectedCategories, Model.Categories, new { id = "ddlCategories", @class = "form-control multiselect", multiple = "multiple" })
                                @Html.ValidationMessageFor(x => x.SelectedCategories, "", new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="row col-sm-10">
                            <h4 class="">Product Specification</h4>
                            <table id="tblProdSpec" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Discription</th>
                                        <th>Value</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.TextAreaFor(x => x.ProductSpecification.Description, new { @class = "form-control", id = "txtDiscription", rows = "1" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.ProductSpecification.Value, new { id = "txtValue", @class = "form-control" })
                                        </td>
                                        <td class="btnSection">
                                            <input type="button" class="btn btn-primary addRow" value="Add" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row col-sm-10">
                            <h4 class="">Product Image</h4>
                            <table id="tblProdImg" class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.TextBoxFor(x => x.ProductImage.ProductImage, new { @type = "file", id = "txtProductImage", accept = ".jpg,.jpeg" })
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(x => x.ProductImage.IsPrimaryImage,new {id= "chkIsPrimaryImage" }) Is Primary
                                        </td>
                                        <td class="btnSection">
                                            <input type="button" class="btn btn-primary addRow" value="Add" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.ProductColor, "Product Color", new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.ProductColor, new { id = "txtProductColor", @class = "form-control", @type = "color" })
                                @Html.ValidationMessageFor(x => x.ProductColor, "", new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.ProductPrice, "Product Price", new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.ProductPrice, new { id = "txtProductPrice", @class = "form-control", maxlength = "6", onkeypress = "return event.charCode >= 48 && event.charCode <= 57", pattern = "^[1-9]\\d*$" })
                                @Html.ValidationMessageFor(x => x.ProductPrice, "", new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.ManufacturingDate, "Manufacturing Date", new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.ManufacturingDate, new { id = "txtManufacturingDate", @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(x => x.ManufacturingDate, "", new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12 pull-right text-center">
                                    <button type="submit" id="BtnSave" class=" btn btn-success btn-lg">
                                        Save
                                    </button>
                                    <input type="button" class="btn btn-default btn-lg" value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
}
