﻿@model Shopping.Kart.UI.ViewModels.Product.ProductIndexVM
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section Title{
    Product
}
@section CSSSection{
    <style>
        .product-name, .brand-name {
            cursor: pointer;
        }
    </style>
    <link href="~/Content/Product/ViewProductImage.css" rel="stylesheet" />
}
@section ScriptSection{
    <script src="~/Scripts/Product/IndexProduct.js"></script>
    <script src="~/Scripts/Product/ViewProductImages.js"></script>
}
@section ContentSection{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#srcPanel">
                <h4 class="panel-title">
                    <span>Search Product</span>
                </h4>
            </div>
            <div id="srcPanel" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form action="#" id="FrmSearch" class="form-horizontal">
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="col-sm-5 text-left">Product Name/Product Code</div>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(x => x.SearchParameter.ProductNameOrCode, new { id = "txtProductNameOrCode", @class = "form-control", maxlength = "50" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-5 text-left">Brand</div>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(x => x.SearchParameter.SelectedBrandId, Model.SearchParameter.Brands, "All", new { id = "ddlBrands", @class = "form-control drop-down" })
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="col-sm-5 text-left">Category</div>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(x => x.SearchParameter.SelectedCategories, Model.SearchParameter.Categories, new { id = "ddlCategories", @class = "form-control multiselect", multiple = "multiple" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-5 text-left">Status</div>
                                <div class="col-sm-6">
                                    <select id="ddlProductStatus" class="form-control drop-down" name="IsActive">
                                        <option value="">All</option>
                                        <option value="false">Inactive</option>
                                        <option value="true">Active</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="col-sm-5 text-left">Total Earning</div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.SearchParameter.EarnFrom, new { id = "txtEarnFrom", @class = "form-control", maxlength = "10" })
                                        <span class="input-group-addon"> to </span>
                                        @Html.TextBoxFor(x => x.SearchParameter.EarnTo, new { id = "txtEarnTo", @class = "form-control", maxlength = "10" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-5 text-left">Manufacturing Date</div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.SearchParameter.DateFrom, new { id = "txtDateFrom", @class = "form-control datepicker" })
                                        <span class="input-group-addon"> to </span>
                                        @Html.TextBoxFor(x => x.SearchParameter.DateTo, new { id = "txtDateTo", @class = "form-control datepicker" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center" style="margin-bottom:0px;">
                            <div class="">
                                <button type="button" class="btn btn-success btn-md" id="btnSearch">Search</button>
                                <button type="reset" class="btn default btn-md show-all" id="btnShowAll">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @foreach (var product in Model.ProductDetails)
    {
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 product-name" title="Show Thumbnail">@product.ProductName (@product.ProductCode)</div>
                    <div class="col-sm-3 brand-name" title="Show Product Color">@product.BrandName</div>
                    <div class="col-sm-3">@product.ProductCategories</div>
                    <div class="col-sm-3">@product.ProductPrice</div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <div class="row text-center">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <a href="/Product/Edit?id=@product.ProductID" class="btn btn-primary">Edit</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="/Product/Delete?id=@product.ProductID" class="btn btn-warning">Delete</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="/Product/ViewProductImages?id=@product.ProductID" id="lnkShowImages" class="btn btn-link" onclick="openModal();currentSlide(1)">View Images</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

        <div id="ImageModal" class="row widget-row"></div>
}
